:root {
  --sidebarColor: rgb(49, 53, 65);
  --sidebarTextColor: rgb(130, 152, 160);
  --sidebarTextColorActive: white;
  --sidebarBorderColor: rgb(45, 49, 60);

  --borderColor: rgb(32, 35, 44);

  --secondarySidebarTextColor: rgb(103, 121, 129);
  --secondarySidebarColor: rgb(40, 44, 55);
  --secondaryBorderColor: rgb(37, 41, 51);
  --secondaryMenuColor: white;
  /* active - secondary menu */
  --secondaryMenuColorActive: rgb(131, 192, 45);
  --secondaryMenuBgColorActive: rgb(28, 31, 39);

  --gmapUpperbarBgColor: rgb(244, 247, 250);
  --gmapUpperbarColor: rgb(40, 44, 55);
  --gmapUpperbarIconColor: rgb(100, 125, 128);
}

.sidebar {
  /* width: 30vw; */
  /* height: 100vw; */
  position: relative;
  display: flex;
  flex-direction: row;
}

.sidebar-main {
  height: 1000px;
  width: 150px;
  background-color: var(--sidebarColor);
}

.sidebar-main-choice {
  width: 100%;
  height: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--sidebarBorderColor);
}
.sidebar-main-choice.active {
  background-color: rgb(114, 205, 210);
  color: white;
}

.sidebar-main-choice-title {
  font-size: 16px;
  line-height: 15px;
  font-weight: 400;
  font-family: "Roboto";
  color: var(--sidebarTextColor);
  width: 80%;
  margin-top: 4px;
  height: 25px;
  pointer-events: none;
}
.sidebar-main-choice-title.active {
  color: var(--sidebarTextColorActive);
}

.sidebar-main-choice-icon {
  color: var(--sidebarTextColor);
  font-size: 35px;
  margin-bottom: 3px;
  pointer-events: none;
}
